<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <?php include '../src/templates/navbar/index.html' ?>

    <div class="container py-4">
      <!-- formulario para crear o editar -->
      <div class="card p-4">
        <div class="card-body">
          <h2 class="card-title">Formulario</h2>
          <form action="actividades.php" method="post" class="row row-cols-2">
            <input
              id="id"
              name="id"
              type="number"
              value="0"
              class="visually-hidden"
            />
            <div class="mb-3 col">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3 col">
              <label for="descripcion" class="form-label">Lugar</label>
              <input
                type="text"
                class="form-control"
                id="lugar"
                name="lugar"
                placeholder="lugar"
              />
            </div>
            <div class="mb-3 col">
              <label for="descripcion" class="form-label">Hora</label>
              <input
                type="datetime"
                class="form-control"
                id="hora"
                name="hora"
                placeholder="Hora"
              />
            </div>

            <!-- selectGrupos -->
            <?= $selectGrupos ?>

            <div class="row mt-3">
              <div class="col-12 d-flex justify-content-start gap-4">
                <button class="btn btn-primary" type="submit" value="Submit">
                  Guardar
                </button>
                <button class="btn" type="reset" value="Reset">Limpiar</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- Lista de cargos de la iglesia -->
      <div class="card p-4">
        <div class="card-body">
          <h2 class="card-title"><?= $title ?></h2>

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Lugar</th>
                <th scope="col">Hora</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <?= $tbody ?>
          </table>
        </div>
      </div>
      <!-- End Lista de miembros -->
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const filasMiembro = document.querySelectorAll(".fila-actividad");

      filasMiembro.forEach(function (fila) {
        fila.addEventListener("click", function () {
          const id = fila.querySelector("th").textContent;
          const nombre = fila.querySelector("td:nth-child(2)").textContent;
          const descripcion = fila.querySelector("td:nth-child(3)").textContent;

          document.querySelector("#id").value = id;
          document.querySelector("#nombre").value = nombre;
          document.querySelector("#descripcion").value = descripcion;
        });
      });
    });
  </script>
</html>
